#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				span Marble
				div#marbleId -
			img(src="/imgs/transfer.svg" width="150px").ball

		.txHistoryWrap
			.auditHint Click a Marble to Audit Its Transactions